@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron.eot');
    src: url('Orbitron.eot?#iefix') format('embedded-opentype'),
         url('Orbitron.woff') format('woff'),
         url('Orbitron.ttf') format('truetype'),
         url('Orbitron.svg#svgFontName') format('svg');
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(to bottom, #000, #1d0d47 90%, #cfcfcf 150%);
    background-attachment: fixed;
}

header {
    background: linear-gradient(to left, #212020 1%, rgba(29,13,71));
    backdrop-filter: blur(20px);
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(29,13,71, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo img {
    max-height: 50px;
    vertical-align: middle;
}

.neon-effect {
    filter: drop-shadow(0 0 10px #fff);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.nav-links a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #fff;
}

#hero {
    color: #fff;
    text-align: center;
    padding: 15rem 0;
    margin-top: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    z-index: 2; /* Ensure text is above the image */
    flex: 1;
}

.image-container {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure image is below the text */
    width: 550px; /* Adjust the size as needed */
    height: auto;
    opacity: 0.5; /* Adjust opacity as needed */
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    margin: 0.5rem 0;
}

#typewriter {
    color: #8e8e8e;
    border-right: .15em solid #6c6666;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #716665; }
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ff6f61;
    z-index: 2;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta-button {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

.cta-button:hover {
    background-color: #e65c4c;
}

.robo-head-image {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    z-index: 0;
    opacity: 0.5;
}
.robo-head-image {
    width: 100%;
    height: auto;
}

#about {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-robot-head {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
    perspective: 1000px;
}

.model {
    width: 100%;
    height: 100%;
    background-image: url('assets/ai-robot-head.png');
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    transition: transform 0.1s;
}

.story-button {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-bottom: 2rem;
}

.story-button:hover {
    background-color: #e65c4c;
}

.about-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #fff;
    max-width: 600px;
}

.co-founders {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.co-founder img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.co-founder p {
    font-size: 1rem;
    color: #fff;
}

#services {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#services h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.service-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    position: relative;
}

.service-card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(29,13,71, 0.1);
    text-align: center;
    flex: 1;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #fff; /* Ensure text is visible */
    background-size: cover;
    background-position: center;
}

.service-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 12, 12, 0.6); /* Semi-transparent overlay */
    z-index: -1;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(29,13,71, 0.2);
}

.service-card h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.service-card p {
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Share Tech Mono', monospace; /* Change font style */
}

.tech-solutions {
    background-image: url('assets/tech-solutions.png');
}

.creative-solutions {
    background-image: url('assets/creative-solutions.png');
}

.marketing-solutions {
    background-image: url('assets/marketing-solutions.png');
}

.service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}


.service-icon {
    max-width: 80px;
    margin-top: auto;
}
.text-container {
    z-index: 2; /* Ensure text is above the image */
    flex: 1;
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headings h1 {
    margin: 0.5rem 0;
}

#portfolio {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.filter-buttons {
    margin-bottom: 2rem;
}

.filter-button {
    background-color: #ff6f61;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #e65c4c;
}

.slideshow-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.slide {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
}

.slide:hover {
    transform: scale(1.05);
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    z-index: 2;
}

.slide-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.slide-content p {
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace; /* Change font style */
}

#contact {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.social-handles {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-link:hover {
    color: #fff;
}

footer {
    background: linear-gradient(to top, rgba(210, 210, 210, 0.3), rgba(29,13,71, 0.8));
    background-color: #1d0d47;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .service-cards {
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    section h2{
        font-size: 2rem;
    }
}